
.event__list-item{
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--bg-primary);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event__list-item h1{
    margin: 0;
    font-size: 1.6rem;
    color: var(--bg-primary);
}

.event__list-item h2{
    color: rgb(102, 101, 101);
    margin: 0;
    font-size: 1rem;
}

.event__list-item p{
    margin: 0;
}