.bookings__list{
    max-width: 90%;
    width: 50rem;
    list-style: none;
    margin: 0 auto;
    padding: 1rem 0;
}

.bookings__item{
    margin: 1rem 0;
    padding: 0.7rem;
    background-color: var(--bg-secondary);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light .bookings__item{
    background-color: transparent;
    border: 1px solid var(--bg-secondary)
}