.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    animation: backdrop__fade_in;
    animation-duration: var(--transition);
}

@keyframes backdrop__fade_in{
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);
    }
}