.events-control{
    text-align: center;
    border: 1px solid var(--bg-primary);
    padding: 1rem;
    margin: 5rem auto;
    width: 30rem;
    max-width: 80%;
}

.events form{
    text-align: left;
}

.lds-dual-ring {
  margin: 50% auto;
  transform: translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--bg-primary);
  border-color:  var(--bg-primary) transparent  var(--bg-primary)transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
