.events-control{
    text-align: center;
    border: 1px solid var(--bg-secondary-dark);
    padding: 1rem;
    margin: 5rem auto;
    width: 30rem;
    max-width: 80%;
}

.events form{
    text-align: left;
}

.events .form__control label
{
    text-transform: capitalize;
}

.events__spinner{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}