main{
    padding-top: 3.5rem;
    min-height: 100vh;
}

.btn{
    background-color:  transparent;
    font: inherit;
    border: 1px solid var(--font-secondary);
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: var(--font-primary);
    cursor: pointer;
}

.light .btn{
    border: 1px solid var(--bg-secondary);
}

.btn:hover,
.btn:active{
    background-color: var(--font-third);
    color: var(--bg-primary);
}

.form{
    width: 25rem;
    max-width: 80%;
    margin: 1rem auto;
}

.form__control label,
.form__control input,
.form__control textarea
{
    width: 100%;
    display: block;
}

.form__control input,
.form__control textarea
{
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: var(--bg-primary);
    color: var(--font-primary);
    border: 1px solid var(--bg-secondary);
    border-radius: 5px;
}

.form__control label
{
    margin: 0.5rem 0;
}

.form__control{
    margin: 1rem 0;
}
