@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root{
  --transition: 200ms
}

.dark{
  --bg-primary: #0B0C10;
  --bg-secondary: #1F2833;
  --font-primary: #C5C6C7;
  --font-secondary: #66FCF1;
  --font-third: #45A29E;
  color: var(--font-primary);
  background-color: var(--bg-primary);
}

.light{
  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(7, 84, 156);
  --font-primary: #000000;
  --font-secondary: rgb(255, 255, 255);
  --font-third: rgb(7, 118, 221);
  color: var(--font-primary);
  background-color: var(--bg-primary);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}